@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap');

*{
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Karla', sans-serif !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --first-color: #0E2954;
  --second-color: #1F6E8C;
  --third-color: #2E8A99;
  --fourth-color: #84A7A1;
  --green-color: #59E391;
  --transition-time: 0s;
  /* -webkit-transition-timing-function: ease; */
}