@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  font-family: 'Karla', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
